$background: #C79D8B;
$text: #FFE9BF;
$detail: #AC4F29;

.about-section {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: #ffe9bf7d;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #ac4e29b5;
        border-radius: 10px;
    }
    

    .about-content {
        width: 100%;
        height: 100%;
        

        .about-main-intro {
            display: flex;
            align-items: flex-start;
            gap: 3em;

            .about-main-image {
                flex-basis: 40%;
                object-fit: cover;
                position: relative;

                .about-spin-image {
                    position: absolute;
                    left: 80%;
                    top: 90%;
                    width: 200px;
                    object-fit: cover;
                    z-index: 20;
                    animation: spin 10s linear infinite;
                }

                img {
                    width: 100%;
                    height: 100%;
                    
                }
            }
            .about-main-text {
                padding: 8% 0;
                flex-basis: 60%;

                .top-text {
                   div:first-child {
                        p {
                            width: 60%;
                        }
                   }
                   div:last-child {
                    margin-top: 2em;
                        h4 {
                            font-family: 'Montserrat', sans-serif;
                            text-transform: none;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 1em;
                            font-size: 3.5rem;
                        }
                   }
                    
                }

                .bottom-text {
                    margin-top: 2em;

                }
                
            }
        }

        .about-main-desc-images {
            margin: 20em 0;
            position: relative;
            
            .about-main-desc {
                
                h2 {
                    line-height: 1em;
                    font-weight: 300;
                    text-transform: none;

                    #music {
                        cursor: pointer;
                        
                    }

                    span {
                        font-family: 'Cormorant', serif;
                        font-size: 6rem;
                        font-style: italic;
                        color: $detail;
                        cursor: pointer;                        
                    }
                }
            }

            .about-desc-images {
                position: absolute;
                width: 100%;
                height: 100%;
                top: -10%;
                z-index: -1;

                .desc-image {
                    width: 350px;
                    height: 520px;
                    object-fit: cover;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 40%;
                    left: 40%;

                    
                    &.anime-image {
                        top: 45%;
                        left: 70%;
                    }
                    &.netflix-image {
                        top: 50%;
                        left: 10%;
                    }


                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        border: 10px solid white;
                    }
                }

                

            }
            
        }

        .about-works {
            margin: 0 auto;
            display: flex;
            // align-items: center;
            width: 70%;
            height: 60vh;
            gap: 3em;

            img {
                width: 100%;
                height: 100%;
            }

            .about-works-left {
                flex-basis: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    margin-bottom: 20px;
                }
                

                h3 {
                    font-family: 'Cormorant', serif;
                    font-style: italic;
                    letter-spacing: -2px;
                    // margin-bottom: -20px;
                    margin-top: 50px;
                    // text-transform: uppercase;
                }

                .about-work-image {
                    object-fit: cover;
                    // margin-top: 10%;

                }
            }

            .about-works-right {
                flex-basis: 40%;

                .about-work-image {
                    object-fit: cover;
                }

            }

            .navigate {
                margin-top: 10px;
                .navigate-btn {
                    width: 50%;
                }
            }

            
        }
        
        
    }
}

$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    .about-section {        
        .about-content {            
    
            .about-main-intro {
                display: flex;
                flex-direction: column;
                gap: 3em;
    
                .about-main-image {
                    flex-basis: 100%;
    
                    .about-spin-image {
                        left: 75%;
                        top: 85%;
                        width: 100px;
                    }
                }
                .about-main-text {
                    padding: 4% 0;
                    flex-basis: 100%;
    
                    .top-text {
                       div:first-child {
                            p {
                                width: 100%;
                            }
                       }
                       div:last-child {
                        margin-top: 2em;
                            h4 {
                                line-height: 1em;
                                font-size: 2rem;
                                letter-spacing: -2px;
                            }
                       }
                        
                    }
    
                    
                }
            }
    
            .about-main-desc-images {
                margin: 10em 0;

                .about-main-desc {
                    
                    h2 {
                        line-height: 1em;
                        font-size: 2.5em;
                        letter-spacing: -4px;

    
                        span {
                            font-size: 3rem;                       
                        }
                    }
                }
    
                .about-desc-images {
                    top: -10%;
    
                    .desc-image {
                        width: 200px;
                        height: 300px;
                        top: 40%;
                        left: 40%;
    
                        
                        &.anime-image {
                            top: 45%;
                            left: 70%;
                        }
                        &.netflix-image {
                            top: 50%;
                            left: 10%;
                        }
                    }
                }
                
            }
    
            .about-works {
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 60vh;
                gap: 1em;

                .about-works-left {
                    flex-basis: 100%;
                    display: flex;
                    flex-direction: column;
                    
                }
    
                .about-works-right {
                    flex-basis: 100%;
    
                }
    
                .navigate {
                    margin-top: 10px;
                    .navigate-btn {
                        width: 100%;
                    }
                }                
            } 
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    .about-section {        
        .about-content {            
    
            .about-main-intro {
                display: flex;
                flex-direction: column;
                gap: 3em;
    
                .about-main-image {
                    flex-basis: 100%;
    
                    .about-spin-image {
                        left: 80%;
                        top: 90%;
                        width: 100px;
                    }
                }
                .about-main-text {
                    padding: 4% 0;
                    flex-basis: 100%;
    
                    .top-text {
                       div:first-child {
                            p {
                                width: 100%;
                            }
                       }
                       div:last-child {
                        margin-top: 2em;
                            h4 {
                                line-height: 1em;
                                font-size: 2rem;
                                letter-spacing: -2px;
                            }
                       }
                        
                    }
    
                    
                }
            }
    
            .about-main-desc-images {
                margin: 10em 0;

                .about-main-desc {
                    
                    h2 {
                        line-height: 1em;
                        font-size: 2.5em;
                        letter-spacing: -4px;

    
                        span {
                            font-size: 3rem;                       
                        }
                    }
                }
    
                .about-desc-images {
                    top: -10%;
    
                    .desc-image {
                        width: 200px;
                        height: 300px;
                        top: 40%;
                        left: 40%;
    
                        
                        &.anime-image {
                            top: 45%;
                            left: 70%;
                        }
                        &.netflix-image {
                            top: 50%;
                            left: 10%;
                        }
                    }
                }
                
            }
    
            .about-works {
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 60vh;
                gap: 1em;

                .about-works-left {
                    flex-basis: 100%;
                    display: flex;
                    flex-direction: column;
                    
                }
    
                .about-works-right {
                    flex-basis: 100%;
    
                }
    
                .navigate {
                    margin-top: 10px;
                    .navigate-btn {
                        width: 100%;
                    }
                }                
            } 
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    .about-section {        
        .about-content {            
    
            .about-main-intro {
                display: flex;
                flex-direction: column;
                gap: 3em;
    
                .about-main-image {
                    flex-basis: 100%;
    
                    .about-spin-image {
                        left: 80%;
                        top: 87%;
                        width: 100px;
                    }
                }
                .about-main-text {
                    padding: 4% 0;
                    flex-basis: 100%;
    
                    .top-text {
                       div:first-child {
                            p {
                                width: 70%;
                            }
                       }
                       div:last-child {
                        margin-top: 2em;
                            h4 {
                                line-height: 1em;
                                font-size: 3rem;
                                letter-spacing: -4px;
                            }
                       }
                        
                    }
    
                    
                }
            }
    
            .about-main-desc-images {
                margin: 20em 0;

                .about-main-desc {
                    
                    h2 {
                        line-height: 1em;
                        font-size: 3.2em;
                        letter-spacing: -6px;

    
                        span {
                            font-size: 4.5rem;                       
                        }
                    }
                }
    
                .about-desc-images {
                    top: -10%;
    
                    .desc-image {
                        width: 200px;
                        height: 300px;
                        top: 40%;
                        left: 40%;
    
                        
                        &.anime-image {
                            top: 45%;
                            left: 70%;
                        }
                        &.netflix-image {
                            top: 50%;
                            left: 10%;
                        }
                    }
                }
                
            }
    
            .about-works {
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 60vh;
                gap: 1em;

                .about-works-left {
                    flex-basis: 100%;
                    display: flex;
                    flex-direction: column;
                    
                }
    
                .about-works-right {
                    flex-basis: 100%;
    
                }
    
                .navigate {
                    margin-top: 10px;
                    .navigate-btn {
                        width: 40%;
                    }
                }                
            } 
        }
    }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
    .about-section {        
        .about-content {            
    
            .about-main-intro {
                display: flex;
                gap: 3em;
    
                .about-main-image {
    
                    .about-spin-image {
                        left: 80%;
                        top: 90%;
                        width: 130px;
                    }
                }
                .about-main-text {
                    padding: 6% 0;
    
                    .top-text {
                       div:first-child {
                            p {
                                width: 70%;
                            }
                       }
                       div:last-child {
                        margin-top: 2em;
                            h4 {
                                line-height: 1em;
                                font-size: 2rem;
                                letter-spacing: -2px;
                            }
                       }
                        
                    }
    
                    
                }
            }
    
            .about-main-desc-images {
                margin: 20em 0;

                .about-main-desc {
                    
                    h2 {
                        line-height: 1em;
                        font-size: 3.5em;
                        letter-spacing: -4px;

    
                        span {
                            font-size: 4rem;                       
                        }
                    }
                }
    
                .about-desc-images {
                    top: -10%;
    
                    .desc-image {
                        width: 200px;
                        height: 300px;
                        top: 40%;
                        left: 40%;
    
                        
                        &.anime-image {
                            top: 45%;
                            left: 70%;
                        }
                        &.netflix-image {
                            top: 50%;
                            left: 10%;
                        }
                    }
                }
                
            }
    
            .about-works {
                display: flex;
                width: 90%;
                height: 60vh;
                gap: 1em;

                .about-works-left {
                    flex-basis: 100%;
                    display: flex;
                    flex-direction: column;
                    
                }
    
                .about-works-right {
                    flex-basis: 100%;
    
                }
    
                .navigate {
                    margin-top: 10px;
                    .navigate-btn {
                        width: 60%;
                    }
                }                
            } 
        }
    }
}
@media screen and (min-width: $xl) and (max-width: $giant) {
    
}