.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    z-index: 40;
    background-color: #AC4F29;
    padding: 20px 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Shoftime', serif;
    visibility: hidden;

    &.exit {
        animation: exit .6s ease-out forwards;
    }

    @keyframes exit {
        from {
            opacity: 1;
            visibility: visible;
        }
        to {
            opacity: 0;
            visibility: hidden;           
        }
    }

    &.enter {
        animation: appear .4s ease-out forwards;
    }

    @keyframes appear {
        from {
            
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
            
        }
    }

    ul {
        div {
            overflow: hidden;
            display: flex;
            gap: 30px;

            img {
                width: 200px;
                animation: spin 10s linear infinite;
            }

            li {
                font-size: 10rem;
                text-transform: uppercase;
                list-style-type: none;
                line-height: 1.02em;
                width: fit-content;
                cursor: pointer;
                transform: translateY(110%);
                
                &.rise {
                    animation: rise 1s ease-in-out forwards .5s;
                }

                @keyframes rise {
                    from {
                        transform: translateY(110%);
                    }
                    to {
                        transform: translateY(20%);
                        
                    }
                }
                
                &.fall {
                    animation: fall .8s ease-in-out forwards;
                }

                @keyframes fall {
                    from {
                        transform: translateY(20%);
                    }
                    to {
                        transform: translateY(110%);
                        
                    }
                }

            
            }
        }
        
    }
}