.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    z-index: 40;
    background-color: #AC4F29;
    padding: 20px 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Shoftime', serif;
    visibility: hidden;

    &.exit {
        animation: exit .6s ease-out forwards;
    }

    @keyframes exit {
        from {
            opacity: 1;
            visibility: visible;
        }
        to {
            opacity: 0;
            visibility: hidden;           
        }
    }

    &.enter {
        animation: appear .4s ease-out forwards;
    }

    @keyframes appear {
        from {
            
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
            
        }
    }

    ul {
        div {
            overflow: hidden;
            display: flex;
            gap: 20px;

            img {
                width: 180px;
                animation: spin 10s linear infinite;
                opacity: 0;
                // background-color: aliceblue;
            }


            li {
                font-size: 10rem;
                text-transform: uppercase;
                list-style-type: none;
                line-height: 1.02em;
                width: fit-content;
                cursor: pointer;
                transform: translateY(140%);
                
                &.rise {
                    animation: rise 1s ease-in-out forwards .5s;
                }

                @keyframes rise {
                    from {
                        transform: translateY(200%);
                    }
                    to {
                        transform: translateY(20%);
                        
                    }
                }
                
                &.fall {
                    animation: fall .8s ease-in-out forwards;
                }

                @keyframes fall {
                    from {
                        transform: translateY(20%);
                    }
                    to {
                        transform: translateY(200%);
                        
                    }
                }

            
            }
        }
        
    }
}

$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    .menu-container {
        padding: 20px;
        justify-content: center;
        align-items: center;
        
    
        ul {
            div {
                gap: 0px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                
    
                img {
                    width: 60px;
                }
    
                li {
                    font-size: 3.5rem; 
                  
                }
            }
            
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    .menu-container {
        padding: 20px 30px;
        justify-content: center;
        align-items: center;
    
        ul {
            div {
                gap: 0px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 80px !important;
                }
    
    
                li {
                    font-size: 4.8rem;  
                }
            }
            
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    .menu-container {
        padding: 20px 40px;
    
        ul {
            div {
                gap: 0px;
    
                img {
                    width: 110px;
                }
    
    
                li {
                    font-size: 7rem;                    
                  
                }
            }
            
        }
    }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
    .menu-container {
        padding: 20px 50px;
    
        ul {
            div {
                gap: 20px;
    
                img {
                    width: 150px;
                }
    
    
                li {
                    font-size: 8.7rem;                    
                  
                }
            }
            
        }
    }

}
@media screen and (min-width: $xl) and (max-width: $giant) {
    .menu-container {
        padding: 20px 60px;
    
        ul {
            div {
                gap: 20px;
    
                img {
                    width: 150px;
                }
    
    
                li {
                    font-size: 9rem;               
                  
                }
            }
            
        }
    }
}
@media screen and (min-width: $giant) {
    .menu-container {
        padding: 20px 60px;
    
        ul {
            div {
                gap: 10px;
    
                img {
                    width: 150px;
                }
    
    
                li {
                    font-size: 9rem;               
                  
                }
            }
            
        }
    }
}
