.works-section {
    .works-content {
        width: 80%;
        overflow: hidden;
        padding-top: 10%;

        .works-display {
            display: flex;
            gap: 3rem;
            overflow-y: hidden;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                height: 3px;
            }

            div {

                .works-image {
                    width: 350px;
                    height: 480px;
                    object-fit: cover;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all .5s ease;

                        &:hover {
                            transform: scale(1.05); 
                        }
                    }
                }
            }
        }
    }
}

$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    .works-section {
        .works-content {
            width: 95%;
            padding-top: 10%;
    
            .works-display {
                display: flex;
                gap: 3rem;
    
                div {
                    .works-image {
                        width: 250px;
                        height: 350px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    .works-section {
        .works-content {
            width: 90%;
            padding-top: 10%;
    
            .works-display {
                display: flex;
                gap: 3rem;
    
                div {
                    .works-image {
                        width: 320px;
                        height: 440px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    .works-section {
        .works-content {
            width: 90%;
            padding-top: 10%;
    
            .works-display {
                display: flex;
                gap: 3rem;
    
                div {
                    .works-image {
                        width: 320px;
                        height: 440px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
    .works-section {
        .works-content {
            width: 85%;
            padding-top: 10%;
    
            .works-display {
                display: flex;
                gap: 3rem;
    
                div {
                    .works-image {
                        width: 320px;
                        height: 440px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $xl) and (max-width: $giant) {
    .works-section {
        .works-content {
            width: 85%;
            padding-top: 10%;
    
            .works-display {
                display: flex;
                gap: 3rem;
    
                div {
                    .works-image {
                        width: 320px;
                        height: 440px;
                    }
                }
            }
        }
    }
}
