.resume-section {
    width: 70%;
    margin: 0 auto;
    align-items: flex-start;
    padding: 12% 0; 
    gap: 5em;

    .resume-download-with-skill-select {
        flex-basis: 40%;

        // h2 {
        //     font-weight: 200;
        //     font-style: italic;
        //     font-family: 'Cormorant', serif;
        // }

        .resume-download {
            .navigate {
                width: 100%;
                .navigate-btn {
                    width: 100%;
                    border: 1.5px solid #AC4F29;
                    button {
                        font-size: 18px;
                    }
                }
            }
        }

        .skill-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;

            .select {
                cursor: pointer;

                p {
                    transition: all .4s ease;
                }
            }
        }
    }

    .skills-render {
        flex-basis: 60%;

        div {
            width: 100%;
            border-bottom: .7px solid #FFE9BF;
            display: flex;
            justify-content: flex-end;
            padding: 15px 20px;

            p {
                text-transform: uppercase;
                font-size: 13px;
            }
        }
    }
    

  
}