.resume-section {
    width: 70%;
    margin: 0 auto;
    align-items: flex-start;
    padding: 10% 0; 
    gap: 7em;

    .resume-download-with-skill-select {
        flex-basis: 40%;

        .resume-download {
            .navigate {
                width: 100%;
                .navigate-btn {
                    width: 100%;
                    border: 1.5px solid #AC4F29;
                    button {
                        font-size: 18px;
                    }
                }
            }
        }

        .skill-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;

            .select {
                cursor: pointer;

                p {
                    transition: all .4s ease;
                }
            }
        }
    }

    .skills-render {
        flex-basis: 60%;

        div {
            width: 100%;
            border-bottom: .7px solid #FFE9BF;
            display: flex;
            justify-content: flex-end;
            padding: 15px 20px;

            p {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
}

$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    .resume-section {
        width: 100%;
        overflow-y: auto;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        padding: 20% 0; 
        
    
        .resume-download-with-skill-select {
            width: 80%;
    
            .resume-download {
                .navigate {
                    width: 100%;
                    .navigate-btn {
                        width: 100%;
                        button {
                            font-size: 14px;
                        }
                    }
                }
            }
    
            .skill-select {
                margin-top: 10px;
            }
        }
    
        .skills-render {
            width: 80%;
    
            div {
                width: 100%;                
    
                p {
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    .resume-section {
        width: 100%;
        overflow-y: auto;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        padding: 20% 0; 
        
    
        .resume-download-with-skill-select {
            width: 60%;
    
            .resume-download {
                .navigate {
                    width: 100%;
                    .navigate-btn {
                        width: 100%;
                        button {
                            font-size: 14px;
                        }
                    }
                }
            }
    
            .skill-select {
                margin-top: 10px;
            }
        }
    
        .skills-render {
            width: 60%;
    
            div {
                width: 100%;                
    
                p {
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    .resume-section {
        width: 80%;
        gap: 2em;
        padding: 20% 0; 
        
    
        .resume-download-with-skill-select {
            flex-basis: 40%;
    
            .resume-download {
                .navigate {
                    width: 100%;
                    .navigate-btn {
                        width: 100%;
                        button {
                            font-size: 14px;
                        }
                    }
                }
            }
    
            .skill-select {
                margin-top: 10px;
            }
        }
    
        .skills-render {
            flex-basis: 60%;
    
            div {
                width: 100%;                
    
                p {
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
    .resume-section {
        width: 75%;
        gap: 4em;
        padding: 15% 0; 
        
    
        .resume-download-with-skill-select {
            flex-basis: 40%;
    
            .resume-download {
                .navigate {
                    width: 100%;
                    .navigate-btn {
                        width: 100%;
                        button {
                            font-size: 14px;
                        }
                    }
                }
            }
    
            .skill-select {
                margin-top: 10px;
            }
        }
    
        .skills-render {
            flex-basis: 60%;
    
            div {
                width: 100%;                
    
                p {
                    font-size: 13px;
                }
            }
        }
    }

}
@media screen and (min-width: $xl) and (max-width: $giant) {

}
