$background: #C79D8B;
$text: #FFE9BF;
$detail: #AC4F29;

.contact-section {
    align-items: flex-end;
    padding-bottom: 5%;
    .contact-content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        

        .form-content {
            width: 40%;

            .form-data {
                display: flex;
                flex-direction: column;

                input, textarea {
                    padding: 10px 15px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    border-bottom: 1.5px solid $text;
                    margin-bottom: 20px;
                    font-family: 'Montserrat', serif;
                    // 
                    letter-spacing: -.5px;
                    color: $text;
                    font-weight: 200;
                    font-size: 14px;

                    &::placeholder {
                        color: $text;
                        opacity: .8;
                    }

                    &::-moz-placeholder {
                        color: $text;
                        opacity: .8;
                    }

                    &::-webkit-placeholder {
                        color: $text;
                        opacity: .8;
                    }
                }

                .warning {
                    padding: 15px;
                    background-color: #ffe9bf30;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    text-align: center;
                    visibility: hidden;

                    &.approved {
                        color: $text;
                        visibility: visible;
                    }
                    &.error {
                        color: rgb(190, 33, 33);
                        visibility: visible;
                    }
                }

                .form-submit {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            
        }

        .hit-my-line {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 50px;

            .top-hit {
                text-align: right;
                h2 {
                    font-family: 'Montserrat', serif;
                    margin-bottom: 20px;
                    position: relative; 
                }
    
                #based {
                    font-size: 18px;
                    margin-top: 10px;
                }
    
                .availability {
                    margin-top: -15px;
                    display: flex;
                    justify-content: right;
    
                    p {
                        width: fit-content;
                        padding: 5px 15px;
                        border: 1.5px solid $detail;
                        border-radius: 30px;
                        font-weight: 400;
                        letter-spacing: -.8px;
    
                        span {
                            color: rgb(19, 185, 19);
                            margin-right: 5px;
                        }
                    }
                }
            }
            .bottom-hit {
                display: flex;
                align-items: center;
                gap: 3em;
                margin-top: auto;

                i {
                    padding: 5px;
                    border: 1px solid $detail;
                    border-radius: 50%;
                    cursor: default;
                }

                .info {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

        }
    }
}

$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    .contact-section {
        padding-bottom: 5%;
        .contact-content {
            width: 95%;
            flex-direction: column-reverse;
            overflow-y: auto;            
    
            .form-content {
                width: 100%;
    
                .form-data {
                    input, textarea {
                        margin-bottom: 10px;
                        letter-spacing: -.7px;
                        font-size: 12px;
                    }
    
                    .warning {
                        padding: 10px;
                    }
    
                    .form-submit {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
                
            }
    
            .hit-my-line {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 50px;
    
                .top-hit {
                    text-align: left;
                    h2 {
                        font-family: 'Montserrat', serif;
                        margin-bottom: 20px;
                        position: relative; 
                    }
        
                    #based {
                        font-size: 15px;
                        margin-top: 10px;
                    }
        
                    .availability {
                        margin-top: -15px;
                        display: flex;
                        justify-content: right;
        
                        p {
                            letter-spacing: -.7px;
        
                        }
                    }
                }
                .bottom-hit {
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: 10px;
    
                    i {
                        padding: 3px;
                        border: 1px solid $detail;
                        border-radius: 50%;
                        cursor: default;
                    }
    
                    .info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
    
            }
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    .contact-section {
        padding-bottom: 5%;
        .contact-content {
            width: 85%;
            flex-direction: column-reverse;
            overflow-y: auto;            
    
            .form-content {
                width: 100%;
    
                .form-data {
                    input, textarea {
                        margin-bottom: 10px;
                        letter-spacing: -.7px;
                        font-size: 12px;
                    }
    
                    .warning {
                        padding: 10px;
                    }
    
                    .form-submit {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
                
            }
    
            .hit-my-line {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 50px;
    
                .top-hit {
                    text-align: left;
                    h2 {
                        font-family: 'Montserrat', serif;
                        margin-bottom: 20px;
                        position: relative; 
                    }
        
                    #based {
                        font-size: 15px;
                        margin-top: 10px;
                    }
        
                    .availability {
                        margin-top: -15px;
                        display: flex;
                        justify-content: right;
        
                        p {
                            letter-spacing: -.7px;
        
                        }
                    }
                }
                .bottom-hit {
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: 10px;
    
                    i {
                        padding: 3px;
                        border: 1px solid $detail;
                        border-radius: 50%;
                        cursor: default;
                    }
    
                    .info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
    
            }
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    .contact-section {
        padding-bottom: 5%;
        .contact-content {
            width: 100%;           
    
            .form-content {
                width: 45%;
    
                .form-data {
                    input, textarea {
                        margin-bottom: 10px;
                        letter-spacing: -.7px;
                        font-size: 12px;
                    }
    
                    .warning {
                        padding: 10px;
                    }
    
                    .form-submit {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
                
            }
    
            .hit-my-line {
                display: flex;
                align-items: flex-end;
                padding-bottom: 50px;
    
                .top-hit {
                    text-align: right;
                    h2 {
                        font-family: 'Montserrat', serif;
                        margin-bottom: 20px;
                        position: relative; 
                    }
        
                    #based {
                        font-size: 15px;
                        margin-top: 10px;
                    }
        
                    .availability {
                        margin-top: -15px;
                        display: flex;
                        justify-content: right;
        
                        p {
                            letter-spacing: -.7px;
        
                        }
                    }
                }
                .bottom-hit {
                    align-items: flex-end;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: 30px;
    
                    i {
                        padding: 3px;
                        border: 1px solid $detail;
                        border-radius: 50%;
                        cursor: default;
                    }
    
                    .info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
    
            }
        }
    }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
    .contact-section {
        padding-bottom: 5%;
        .contact-content {
            width: 100%;           
    
            .form-content {
                width: 45%;
    
                .form-data {
                    input, textarea {
                        margin-bottom: 10px;
                        letter-spacing: -.7px;
                        font-size: 12px;
                    }
    
                    .warning {
                        padding: 10px;
                    }
    
                    .form-submit {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
                
            }
    
            .hit-my-line {
                display: flex;
                align-items: flex-end;
                padding-bottom: 50px;
    
                .top-hit {
                    text-align: right;
                    h2 {
                        font-family: 'Montserrat', serif;
                        margin-bottom: 20px;
                        position: relative; 
                    }
        
                    #based {
                        font-size: 15px;
                        margin-top: 10px;
                    }
        
                    .availability {
                        margin-top: -15px;
                        display: flex;
                        justify-content: right;
        
                        p {
                            letter-spacing: -.7px;
        
                        }
                    }
                }

                .bottom-hit {
                    gap: 1em;
    
                    .info {
                        gap: 8px;
                    }
                }
                
    
            }
        }
    }
}
@media screen and (min-width: $xl) and (max-width: $giant) {
    
}