nav {
    width: 100%;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-logo {
            font-family: 'Garelina', serif;
            cursor: pointer;

            h3 {
                font-weight: lighter;
                letter-spacing: -31px;
                transition: all .4s ease;

                &:hover {
                    letter-spacing: -8px;
                }
            }
        }

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            // border: 1.5px solid #AC4F29;
            border-radius: 50%;
            transition: all .4s ease;
            cursor: pointer;
            z-index: 60;

            i {
                font-size: 3rem;
            }

            &.cross {
                transform: rotate(45deg);
                border: 1.5px solid #AC4F29;
            }

            &.cancel {
                transform: rotate(0deg);
                border: 1.5px solid #FFE9BF;
            }

        }
    }
}

$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

@media screen and (min-width: $xs) and (max-width: $sm) {
    nav {    
        .navbar {
    
            .navbar-logo {    
                h3 {
                    letter-spacing: -14px;
    
                    &:hover {
                        letter-spacing: -8px;
                    }
                }
            }
    
            .nav-links {
                width: 35px;
                height: 35px;

                i {
                    font-size: 1rem;
                }
    
            }
        }
    }
}
@media screen and (min-width: $sm) and (max-width: $md) {
    nav {    
        .navbar {
            .navbar-logo {    
                h3 {
                    letter-spacing: -14px;
    
                    &:hover {
                        letter-spacing: -8px;
                    }
                }
            }
    
            .nav-links {
                width: 40px;
                height: 40px;

                i {
                    font-size: 1.5rem;
                }
    
            }
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    nav {    
        .navbar {
    
            .navbar-logo {    
                h3 {
                    font-weight: lighter;
                    letter-spacing: -14px;
    
                    &:hover {
                        letter-spacing: -8px;
                    }
                }
            }
    
            .nav-links {
                width: 45px;
                height: 45px;

                i {
                    font-size: 2rem;
                }
    
    
            }
        }
    }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
    nav {    
        .navbar {
    
            .navbar-logo {    
                h3 {
                    font-weight: lighter;
                    letter-spacing: -26.5px;
    
                    &:hover {
                        letter-spacing: -8px;
                    }
                }
            }
    
            .nav-links {
                width: 60px;
                height: 60px;

                i {
                    font-size: 2.5rem;
                }
    
            }
        }
    }

}
@media screen and (min-width: $xl) and (max-width: $giant) {
    nav {    
        .navbar {
    
            .navbar-logo {    
                h3 {
                    font-weight: lighter;
                    letter-spacing: -26.5px;
    
                    &:hover {
                        letter-spacing: -8px;
                    }
                }
            }
    
            .nav-links {
                width: 60px;
                height: 60px;
    
            }
        }
    }
}
