$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

// @mixin small-mobile {
//     @media screen and (max-device-width: 480px) {
//         @content;
//     }
// }
// @mixin mobile {
//     @media screen and (min-device-width: 481px) and (max-device-width: 960px) {
//         @content;
//     }
// }
// @mixin tablet {
//     @media screen and (min-width: 961px) {
//         @content;
//     }
// }
// @mixin laptop {
//     @media screen and (min-width: 961px) {
//         @content;
//     }
// }
// @mixin computer {
//     @media screen and (min-width: 1201px) {
//         @content;
//     }
// }

nav {
    width: 100%;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-logo {
            font-family: 'Garelina', serif;
            cursor: pointer;

            h3 {
                font-weight: lighter;
                letter-spacing: -30px;
                transition: all .4s ease;

                &:hover {
                    letter-spacing: -8px;
                }
            }
        }

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            // border: 1.5px solid #AC4F29;
            border-radius: 50%;
            transition: all .4s ease;
            cursor: pointer;
            z-index: 60;

            i {
                font-size: 3rem;
            }

            &.cross {
                transform: rotate(45deg);
                border: 1.5px solid #AC4F29;
            }

            &.cancel {
                transform: rotate(0deg);
                border: 1.5px solid #FFE9BF;
            }

        }
    }
}



@media screen and (min-width: $xs) and (max-width: $sm) {    
    nav {    
        .navbar {    
            .navbar-logo {    
                h3 {
                    font-size: 3rem;
                    letter-spacing: -21px;
    
                    &:hover {
                        letter-spacing: -5px;
                    }
                }
            }
    
            .nav-links {
                width: 40px;
                height: 40px;
    
                i {
                    font-size: 1.5rem;
                }
    
            }
        }
    }
}
  
@media only screen and (min-width: $sm) and (max-width: $md) {
    nav {    
        .navbar {    
            .navbar-logo {    
                h3 {
                    font-size: 3.5rem;
                    letter-spacing: -24px !important;
    
                    &:hover {
                        letter-spacing: -5px;
                    }
                }
            }
    
            .nav-links {
                width: 45px !important;
                height: 45px !important;
    
                i {
                    font-size: 1.5rem;
                }
    
            }
        }
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
        nav {    
        .navbar {    
            .navbar-logo {    
                h3 {
                    font-size: 4rem;
                    letter-spacing: -28px !important;
    
                    &:hover {
                        letter-spacing: -7px !important;
                    }
                }
            }
    
            .nav-links {
                width: 50px !important;
                height: 50px !important;
    
                i {
                    font-size: 1.5rem;
                }
    
            }
        }
    }

}
@media screen and (min-width: $lg) and (max-width: $xl) {
    nav {    
        .navbar {    
            .navbar-logo {    
                h3 {
                    font-size: 4rem;
                    letter-spacing: -28px !important;
    
                    &:hover {
                        letter-spacing: -7px !important;
                    }
                }
            }
    
            .nav-links {
                width: 55px !important;
                height: 55px !important;
    
                i {
                    font-size: 1.5rem;
                }
    
            }
        }
    }
  
}
@media screen and (min-width: $xl) and (max-width: $giant) {
    nav {    
        .navbar {    
            .navbar-logo {    
                h3 {
                    font-size: 4rem;
                    letter-spacing: -28px !important;
    
                    &:hover {
                        letter-spacing: -7px !important;
                    }
                }
            }
    
            .nav-links {
                width: 55px !important;
                height: 55px !important;
    
                i {
                    font-size: 1.5rem;
                }
    
            }
        }
    }
}
  
@media screen and (min-width: $giant) {
    nav {    
        .navbar {    
            .navbar-logo {    
                h3 {
                    font-size: 4.5rem;
                    letter-spacing: -30.5px;
    
                    &:hover {
                        letter-spacing: -7.5px;
                    }
                }
            }
    
            .nav-links {
                width: 55px;
                height: 55px;
    
                i {
                    font-size: 2rem;
                }
    
            }
        }
    }
}