nav {
    width: 100%;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-logo {
            font-family: 'Garelina', serif;
            cursor: pointer;

            h3 {
                font-weight: lighter;
                letter-spacing: -31px;
                transition: all .4s ease;

                &:hover {
                    letter-spacing: -8px;
                }
            }
        }

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            width: 60px;
            height: 60px;
            // border: 1.5px solid #AC4F29;
            border-radius: 50%;
            transition: all .4s ease;
            cursor: pointer;
            z-index: 60;

            &.cross {
                transform: rotate(45deg);
                border: 1.5px solid #AC4F29;
            }

            &.cancel {
                transform: rotate(0deg);
                border: 1.5px solid #FFE9BF;
            }


            // ul {
            //     display: flex;
            //     align-items: center;
            //     gap: 25px;

            //     li {
            //         font-size: 13px;
            //         font-weight: 200;
            //         list-style-type: none;
            //         cursor: pointer;
            //         position: relative;
            //         text-transform: lowercase;

            //         &::after {
            //             content: '';
            //             position: absolute;
            //             top: 100%;
            //             left: 0;
            //             height: 1.5px;
            //             width: 0%;
            //             background-color: #FFE9BF;
            //             transition: all .4s ease;
            //         }

            //         &:hover {
            //             &::after {
            //                 width: 100%;
            //             }
            //         }
            //     }
            // }

            // .resume-btn {
            //     padding: 7px 30px;
            //     background-color: transparent;
            //     border: 1px solid #AC4F29;
            //     color: #FFE9BF;
            //     outline: none;
            //     border-radius: 30px;
            //     font-weight: 200;
            //     cursor: pointer;
            //     transition: all .4s ease;

            //     &:hover {
            //         background-color: #AC4F29;
                    
            //     }
            // }


        }
    }
}