$background: #C79D8B;
$text: #FFE9BF;
$detail: #AC4F29;

$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$giant: 1400px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $background;
    color: $text;
    font-weight: 200;
}

h1 {
  font-size: 6rem;
  font-style: italic;
  letter-spacing: -4px; 
  margin-top: -2rem;
  font-weight: 200;
}

h2 {
  font-size: 5rem;  
  font-family: 'Montserrat', serif;
  font-weight: 400;
  letter-spacing: -8px;
  text-transform: lowercase;  
}

h3 {
    font-size: 4.5rem; 
    font-weight: 300;
}

h4 {
    font-size: 4rem;
    font-family: 'Cormorant', serif;  
    font-weight: 400;  
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -5px;
}

h5 {
    font-size: 2rem;  
    letter-spacing: -2px;
}

h6 {
    font-size: 1.5rem;  
}

p {
    font-size: 14px;
}

button {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.navigate {
    .navigate-btn {
        width: 30%;
        border: 1px solid $detail;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-radius: 30px;
        transition: all .5s ease;

        i {
            transition: all .5s ease;
        }

        &:hover{
            background-color: $detail;

            i {
                transform: translateX(5px);
            }
        }

        button {
            padding: 6px 10px;
            background-color: transparent;
            border: none;
            outline: none;
            color: $text;
            font-weight: 200;
            cursor: pointer;
        }
    }
}

i {
    cursor: pointer;
}

.container {
    position: relative;
    width: 100vw;
    height: 100svh;
}

.main-section {
    padding: 0 50px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


// AUTOMATIC CAROUSEL DISPLAY
.main-carousel {
    width: 100%;
    height: calc(100vh - 70vh - 60px);
    overflow: hidden;

    .carousel {
        display: flex;
        align-items: center;
        gap: 3em;
        width: 3000%;
        margin-bottom: -8em;
        animation: carousel 200s linear infinite;

        @keyframes carousel {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-30%);
            }
        }
        
        span {
            display: inline;
            // font-family: 'Shoftime', serif;
            font-family: 'Shoftime', serif;
            // font-style: italic;
            font-size: 12rem;
            font-weight: lighter;
            text-transform: uppercase;
            letter-spacing: -10px;

            &:nth-child(even) {
                font-size: 6rem;
            }
        }
    }
}

.footer-section {
    width: 100%;
    height: 60px;
}

@media screen and (min-width: $xs) and (max-width: $sm) {    
    h1 {
      font-size: 3rem;
      margin-top: -2rem;
    }
    
    h2 {
      font-size: 2.5rem;  
      letter-spacing: -8px;
    }
    
    h3 {
        font-size: 2rem; 
        font-weight: 300;
    }
    
    h4 {
        font-size: 1.5rem;
        letter-spacing: -5px;
    }
    
    h5 {
        font-size: 1rem;  
        letter-spacing: -2px;
    }
    
    h6 {
        font-size: .6rem;  
    }
    
    p {
        font-size: 13px;
    }
    
    button {
        font-size: 12px;
    }
    
    .navigate {
        .navigate-btn {
            width: 30%;
            padding: 0 20px;
            border-radius: 30px;
    
            button {
                padding: 6px 10px;
            }
        }
    }
    
    .main-section {
        padding: 0 50px;
        height: 90vh;
    }
    
    
    // AUTOMATIC CAROUSEL DISPLAY
    .main-carousel {
        height: calc(100vh - 90vh - 60px);
    
        .carousel {
            gap: 1em;
            width: 8000%;
            margin-bottom: 0em;
            animation: carousel 100s linear infinite;

            @keyframes carousel {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-30%);
                }
            }
            
            span {
                font-size: 4rem;
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: -3px;
    
                &:nth-child(even) {
                    font-size: 30px;
                }
            }
        }
    }
    
    .footer-section {
        width: 100%;
        height: 60px;
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    h1 {
        font-size: 4rem;
        margin-top: -2rem;
    }
    
    h2 {
    font-size: 3.5rem;  
    letter-spacing: -8px;
    }
    
    h3 {
        font-size: 3rem; 
        font-weight: 300;
    }
    
    h4 {
        font-size: 2rem;
        letter-spacing: -5px;
    }
    
    h5 {
        font-size: 1rem;  
        letter-spacing: -2px;
    }
    
    h6 {
        font-size: .6rem;  
    }
    
    p {
        font-size: 13px;
    }
    
    button {
        font-size: 12px;
    }
    
    .navigate {
        .navigate-btn {
            width: 30%;
            padding: 0 20px;
            border-radius: 30px;
    
            button {
                padding: 6px 10px;
            }
        }
    }
    
    .main-section {
        padding: 0 50px;
        height: 80vh;
    }
    
    
    // AUTOMATIC CAROUSEL DISPLAY
    .main-carousel {
        height: calc(100vh - 80vh - 60px);
    
        .carousel {
            gap: 2em;
            width: 9000%;
            margin-bottom: 0em;
            animation: carousel 150s linear infinite;

            @keyframes carousel {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-30%);
                }
            }
            
            span {
                font-size: 4rem;
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: -3px;
    
                &:nth-child(even) {
                    font-size: 30px;
                }
            }
        }
    }
    
    .footer-section {
        width: 100%;
        height: 60px;
    }
}
@media only screen and (min-width: $sm) and (max-width: $md) {
    h1 {
        font-size: 4.5rem;
        margin-top: -2rem;
    }
    
    h2 {
    font-size: 4rem;  
    letter-spacing: -8px;
    }
    
    h3 {
        font-size: 3rem; 
        font-weight: 300;
    }
    
    h4 {
        font-size: 2.5rem;
        letter-spacing: -5px;
    }
    
    h5 {
        font-size: 2rem;  
        letter-spacing: -2px;
    }
    
    h6 {
        font-size: 1.5rem;  
    }
    
    p {
        font-size: 13px;
    }
    
    button {
        font-size: 12px;
    }
    
    .navigate {
        .navigate-btn {
            width: 30%;
            padding: 0 20px;
            border-radius: 30px;
    
            button {
                padding: 6px 10px;
            }
        }
    }
    
    .main-section {
        padding: 0 50px;
        height: 80vh;
    }
    
    
    // AUTOMATIC CAROUSEL DISPLAY
    .main-carousel {
        height: calc(100vh - 80vh - 60px);
    
        .carousel {
            gap: 2em;
            width: 5000%;
            margin-bottom: 0em;
            animation: carousel 100s linear infinite;

            @keyframes carousel {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-30%);
                }
            }
            
            span {
                font-size: 4rem;
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: -3px;
    
                &:nth-child(even) {
                    font-size: 30px;
                }
            }
        }
    }
    
    .footer-section {
        width: 100%;
        height: 60px;
    }
}
@media screen and (min-width: $md) and (max-width: $lg) {
    h1 {
        font-size: 5rem;
        margin-top: -2rem;
    }
    
    h2 {
    font-size: 4.5rem;  
    letter-spacing: -8px;
    }
    
    h3 {
        font-size: 4rem; 
        font-weight: 300;
    }
    
    h4 {
        font-size: 3.5rem;
        letter-spacing: -5px;
    }
    
    h5 {
        font-size: 3rem;  
        letter-spacing: -2px;
    }
    
    h6 {
        font-size: 2rem;  
    }
    
    p {
        font-size: 14px;
    }
    
    button {
        font-size: 12px;
    }
    
    .navigate {
        .navigate-btn {
            width: 30%;
            padding: 0 20px;
            border-radius: 30px;
    
            button {
                padding: 6px 10px;
            }
        }
    }
    
    .main-section {
        padding: 0 50px;
        height: 80vh;
    }
    
    
    // AUTOMATIC CAROUSEL DISPLAY
    .main-carousel {
        height: calc(100vh - 80vh - 60px);
    
        .carousel {
            gap: 2em;
            width: 4000%;
            animation: carousel 120s linear infinite;

            @keyframes carousel {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-30%);
                }
            }
            
            span {
                font-size: 9rem;
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: -3px;
    
                &:nth-child(even) {
                    font-size: 3em;
                }
            }
        } 
    }
    .footer-section {
        width: 100%;
        height: 60px;
    }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
}
@media screen and (min-width: $xl) and (max-width: $giant) {
    h1 {
        font-size: 6rem;
        margin-top: -2rem;
    }
    
    h2 {
    font-size: 5rem;  
    letter-spacing: -8px;
    }
    
    h3 {
        font-size: 3.8rem; 
        font-weight: 300;
    }
    
    h4 {
        font-size: 1.5rem;
        letter-spacing: -5px;
    }
    
    h5 {
        font-size: 1rem;  
        letter-spacing: -2px;
    }
    
    h6 {
        font-size: .6rem;  
    }
    
    p {
        font-size: 13px;
    }
    
    button {
        font-size: 12px;
    }
    
    .navigate {
        .navigate-btn {
            width: 30%;
            padding: 0 20px;
            border-radius: 30px;
    
            button {
                padding: 6px 10px;
            }
        }
    }
    
    .main-section {
        padding: 0 50px;
        height: 65vh;
    }
    
    
    // AUTOMATIC CAROUSEL DISPLAY
    .main-carousel {
        height: calc(100vh - 65vh - 60px);
    
        .carousel {
            gap: 2em;
            width: 4500%;
            animation: carousel 180s linear infinite;

            @keyframes carousel {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-30%);
                }
            }
            
            span {
                font-size: 12.5rem;
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: -3px;
    
                &:nth-child(even) {
                    font-size: 3em;
                }
            }
        } 
    }
    .footer-section {
        width: 100%;
        height: 60px;
    }
}

